In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from PIL import Image, ImageFile
ImageFile.LOAD_TRUNCATED_IMAGES = True
import torch
import torch.nn as nn
import torchvision.models as models
import torchvision.transforms as transforms
# from torchvision import transforms
import os
import glob
import torch

In [2]:
df = pd.read_excel("../India_95/India.xlsx",0)

In [3]:
df.head()

   Number   Hgb  Gender  Age
0       1  12.2       0   29
1       2   8.0       1   36
2       3  10.7       1   30
3       4   8.3       1   39
4       5   7.8       1   29

In [4]:
from torchvision.models import resnet18, ResNet18_Weights

resnet = resnet18(weights=ResNet18_Weights.DEFAULT)
# or any of these variants
# from torchvision.models import resnet34, ResNet34_Weights
# from torchvision.models import resnet50, ResNet50_Weights
# from torchvision.models import resnet101, ResNet101_Weights
# from torchvision.models import resnet152, ResNet152_Weights

modules = list(resnet.children())[:-1]
resnet = nn.Sequential(*modules)

resnet.eval()

def preprocess_image(filename):
    input_image = Image.open(filename)

    # input_image.load()
    # background = Image.new("RGB", input_image.size, (255, 255, 255))
    # background.paste(input_image, mask = input_image.split()[3])

    background = input_image.convert('RGB')

    preprocess = transforms.Compose([
        transforms.Resize(256),
        transforms.CenterCrop(224),
        transforms.ToTensor(),
        transforms.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225]),
    ])

    return preprocess(background).unsqueeze(0)

In [5]:
training = "../India_95/training"
testing = "../India_95/testing"
all_data = "../India_95/All"


training_img = glob.glob(f"{training}/*.png")
testing_img = glob.glob(f"{testing}/*.png")
all_img = sorted(glob.glob(f"{all_data}/*.png"))

In [6]:
All_Data = []
errors = []

for i in all_img:

    number = i.split("/")[-1].split(".")[0]
    label = df.loc[df['Number'] == int(number)]['Hgb'].tolist()[0]

    try:
        input_batch = preprocess_image(i)

        if torch.cuda.is_available():
            input_batch = input_batch.to('cuda')
            resnet.to('cuda')

        with torch.no_grad():
            output = resnet(input_batch)

        # data = [number,label]
        output = output.cpu()
        data = output.squeeze().numpy()
        data = data.flatten().tolist()

        data.insert(0,number)
        data.append(label)

        All_Data.append(data)

    except Exception as e:
        error = [number,e]
        errors.append(error)

In [7]:
headers = ['number']
for i in range(512):
    col = 'data_' + str(i)
    headers.append(col)
headers.append('label')
df_save = pd.DataFrame(All_Data, columns=headers)
df_save.to_csv('../India_95/Data.csv', index=False)

In [8]:
header2 = ['number','error_message']
df_error = pd.DataFrame(errors, columns=header2)
df_error.to_csv('../India_95/Error_files.csv', index=False)

In [9]:
len(All_Data)

95

In [10]:
len(errors)

0

In [2]:
import pycaret

In [3]:
data = pd.read_csv('../India_95/Data.csv')

In [4]:
data.head()

,number,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,...,data_503,data_504,data_505,data_506,data_507,data_508,data_509,data_510,data_511,label
0,1,1.899122,0.722537,0.026443,1.817490,1.046539,0.164434,0.262022,0.212244,1.385694,...,0.667369,0.002834,1.510296,0.859847,0.337616,0.488942,1.931228,0.363537,1.493688,12.2
1,10,1.640895,0.398874,0.050168,1.135315,0.156090,0.922679,0.526108,1.267339,0.973106,...,0.527465,0.092505,0.104148,0.784480,0.031289,0.436605,0.260765,0.197001,3.227088,11.3
2,11,0.552463,0.125926,0.073117,0.854506,0.248553,1.054864,0.080451,0.130381,2.499743,...,1.252114,0.006463,0.760902,1.334905,0.093931,0.243603,0.456846,0.168292,0.250441,13.2
3,12,0.669462,0.181472,0.009806,2.037710,0.748018,0.613822,0.103088,0.038476,1.278077,...,0.197136,0.000643,0.000000,2.266766,0.406885,0.087365,1.069544,0.393841,1.586537,10.6
4,13,1.496742,0.412638,0.017743,1.570459,0.495749,0.676278,0.663581,0.205729,1.601431,...,0.207915,0.059320,0.623582,0.643818,0.003666,0.751393,0.566202,0.019739,0.799620,10.6

In [5]:
data.describe(include="all")

,number,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,...,data_503,data_504,data_505,data_506,data_507,data_508,data_509,data_510,data_511,label
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,...,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,48.000000,1.190642,0.381198,0.211897,1.228342,0.663040,0.429920,0.258935,0.155963,1.564826,...,0.754197,0.040147,0.815586,1.002629,0.175177,0.743530,1.054277,0.195147,0.929744,11.471579
std,27.568098,0.451511,0.321048,0.215474,0.489028,0.299734,0.319496,0.160588,0.192458,0.473526,...,0.486939,0.083152,0.530436,0.487474,0.207380,0.411664,0.429441,0.195401,0.567915,2.075678
min,1.000000,0.279613,0.000000,0.000000,0.288336,0.133020,0.001408,0.017454,0.000000,0.510280,...,0.013307,0.000000,0.000000,0.032084,0.000000,0.016303,0.197085,0.008684,0.101258,7.600000
25%,24.500000,0.884712,0.132179,0.052171,0.858276,0.429084,0.201415,0.117784,0.020275,1.213023,...,0.354594,0.002866,0.385183,0.648049,0.031534,0.419213,0.751820,0.068552,0.589330,9.950000
50%,48.000000,1.180351,0.331436,0.133749,1.154403,0.662890,0.376538,0.239746,0.106622,1.576146,...,0.690157,0.010246,0.709623,0.953410,0.118260,0.753862,1.030089,0.122617,0.827551,11.300000
75%,71.500000,1.448998,0.512125,0.299344,1.566791,0.839726,0.625880,0.336851,0.208986,1.820833,...,1.025589,0.033645,1.194793,1.289587,0.270902,1.061283,1.301402,0.267589,1.065249,12.800000
max,95.000000,2.628680,1.487717,1.165746,2.587358,1.624053,1.757659,0.893560,1.267339,2.843176,...,2.315095,0.501445,2.342617,2.338822,1.108447,1.701884,2.274212,1.018899,3.227088,17.100000

In [35]:
from pycaret.regression import *
s = setup(data, target='label', ignore_features=['number'], 
          #log_experiment=True, experiment_name="resnet_2", log_data=True, 
          #pca=True, pca_method="linear", 
          remove_multicollinearity=True, multicollinearity_threshold=0.5,
          preprocess=True, 
          normalize=True, 
          session_id=123)
#feature_selection=True, feature_selection_method="sequential", n_features_to_select=0.02,

In [36]:
best_r = compare_models(sort="RMSE")